@import "base.less";
@import "topbar.less";
.main {
 	position: absolute;
 	width: calc(100% - 60px);
 	left: 60px;
 	min-height: 100vh;
 	background: @cloud;
 	transition: 0.5s;
 	.pagecontainer {
 		display: flex;
		width: 100%;
		min-height: 100vh;
		justify-content: center;
		align-items: center;
 		.cardBx {
	 		position: relative;
	 		justify-content: space-between;
	 		.row {
	 			width: 100%;
	 			display: flex;
		 		.card {
		 			position: relative;
		 			&:hover {
		 				.face.face1 {
		 					transform: translateY(0);
		 					.content{
		 						opacity: 1;	
		 					}
		 				}
		 			}
		 			.face {
		 				width: 300px;
		 				height: 200px;
		 				transition: 0,5s;
		 			}
		 			.face.face1 {
		 				position: relative;
		 				display: flex;
		 				justify-content: center;
		 				align-items: center;
		 				z-index: 1;
		 				.content {
		 					opacity: 0.2;
		 					transition: 0.5s;
		 					i {
		 						max-width: 100px;
		 					}
		 					h3 {
		 						margin: 10px 0 0;
		 						padding: 0;
		 						color: @black;
		 						text-align: center;
		 						z-index: 1;
		 						transform: translateY(100px);
		 					}
		 				}
		 			}
		 			.face.face2 {
		 				position: relative;
		 				display: flex;
		 				justify-content: center;
		 				align-items: center;
		 				padding: 20px;
		 				box-sizing: border-box;
		 				box-shadow: 0 10px 30px rgba(255,255,255,0.8);
		 				.content {
		 					transform: translateY(-100px);
		 					p {
		 						margin: 0;
		 						padding: 0;
		 					}
		 					a {
		 						margin: 15px 0 0;
		 						display: inline-block;
		 						text-decoration: none;
		 						font-weight: 500;
		 						color: #333;
		 						padding: 15px;
		 						border: 1px solid #333;
		 						&:hover {
		 							background: #333;
		 							color: @white;
		 						}
		 					}
		 				}
		 			}
		 			&:hover {
		 				.content {
		 					transform: translateY(0);
		 				}
		 			}
	 			}
 			}
 		}
 	}
}
.main.active {
 	width: calc(100% - 300px);
 	left: 300px;
}